body {
	--white: #fff;
	--grey-lighter: #f1f3f4;
	--grey-light: #dee1e6;
	--grey: #babcbe;
	--grey-dark: #80868b;
	--grey-darker: #5f6368;
	--black: #202124;
	
	display: inline-block;
	width: 288px;
	height: 100px;
	background: linear-gradient(95deg, #034aa3, #4218b8)
}
body > * {
	margin: 0 auto;
	
	color: var(--grey-darker);
}

form {
	display: grid;
	grid-template-rows: 40px 40px auto;
	height: auto;
	width: 256px;
	
	white-space: nowrap;
}
form > * {
	display: inline-block;
	height: 24px;
	padding: 5px;
	margin: 0;
	vertical-align: middle;
	
	color: var(--grey-dark);
}

form > #volume-level {
	grid-row: 1;	
	width: 48px;
	position: relative;
	left: -10px;
	text-align: right;
	
	font-weight: bold;
	
	border: solid 1px var(--grey-light);
	border-radius: 8px;
}

form > #decibels {
	grid-row: 1;
	width: 48px;
	text-align: right;
	position: relative;
	left: -10px;
	font-weight: bold;
	background-color: white;

	border: solid 1px var(--grey-light);
	border-radius: 8px;
}

p {
	font-weight: bold;
	color: white;
	position: relative;
	left: -16px;
	top: -15px;
}

a {
	font-weight: bold;
	color: yellow;
	text-align: center;
	text-decoration: none;
}

form > input[type=number]:focus {
	border: solid 1px transparent;
}

form > input[type=range] {
	grid-row: 1;
	height: 8px;
	width: 200px;
	margin: 8px 4px 0 4px;
	
	-webkit-appearance: none;
	
	background-color: var(--grey-lighter);
	border-radius: 4px;
	
	transition: all 0.1s ease-in-out;
}
form > input[type=range]:focus {
	outline: 0;
}
form > input[type=range]:hover {
	background-color: var(--grey-light);
}
form input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	z-index: 2000;
	
	-webkit-appearance: none;
	
	background-color: var(--grey-dark);
	border-radius: 8px;
	
	transition: all 0.1s ease-in-out;
}
form input[type=range]::-webkit-slider-thumb:hover {
	background-color: var(--grey-darker);
}

#stop {
	grid-row: 1;
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin-left: 4px;
	border: 0;
	vertical-align: middle;
	
	-webkit-appearance: none;
	
	background-color: transparent;
	border-radius: 12px;
	
	font-weight: bold;
	
	transition: all 0.2s ease-in-out;
}
#stop:hover {
	background-color: var(--grey-lighter);
}
#stop:focus {
	outline: 0;
}